<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/smartads/tabs/news"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="primary">
            <ion-button (click)="newTool()">
                <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Pripomočki</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding tools-main">
    <ion-grid>
        <ion-row>
            <ion-col size="12" *ngFor="let tool of tools; let i = index">
                <ion-card>
                    <ion-item-sliding>
                        <ion-item-options side="start">
                            <ion-item-option (click)="onDelete(tool, i)">Zbriši</ion-item-option>
                        </ion-item-options>
                        <ion-item button="true">
                            <ion-card-header>
                                <ion-card-subtitle>{{ tool.category }}</ion-card-subtitle>
                                <ion-card-title>{{ tool.name }}</ion-card-title>
                            </ion-card-header>
                            <ion-button color="primary" slot="end" (click)="onOpenTool(tool.url)">
                                <ion-icon class="link" icon="link"></ion-icon>
                            </ion-button>
                        </ion-item>
                    </ion-item-sliding>
                    <ion-card-content style="text-align: center; font-size: 12px;">
                        {{ tool.url }}
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>