<form [formGroup]="form" class="ion-padding" style="overflow: auto">
    <div style="position:absolute; right:10px;">
        <ion-icon name="close" style="font-size: 24px;" (click)="closeModal()"></ion-icon>
    </div>
    <div style="text-align:center;">
        <img style="width:65%; margin-left: auto; margin-right: auto;" src="assets/img/update-timetable.png" />
    </div>
    <ion-grid>
        <ion-row>
            <ion-col size-sm="6" offset-sm="3">
                <ion-list>
                    <ion-item style="padding-top: 5px;">
                        <ion-label>
                            <div class="inner-label">
                                <ion-icon name="calendar" slot="end"></ion-icon>
                                Kateri dan
                            </div>
                        </ion-label>
                        <ion-select okText="Shrani" cancelText="Prekliči" formControlName="day">
                            <ion-select-option value="Pon">Ponedeljek</ion-select-option>
                            <ion-select-option value="Tor">Torek</ion-select-option>
                            <ion-select-option value="Sre">Sreda</ion-select-option>
                            <ion-select-option value="Cet">Četrtek</ion-select-option>
                            <ion-select-option value="Pet">Petek</ion-select-option>
                        </ion-select>
                    </ion-item>
                    <ion-item style="padding-top: 5px;">
                        <ion-label position="floating">
                            <div class="inner-label">
                                <ion-icon name="clipboard" slot="end"></ion-icon>
                                Predmet
                            </div>
                        </ion-label>
                        <ion-input type="text" formControlName="course" oninput="this.value = this.value.toUpperCase()" maxlength="7" size="7">
                        </ion-input>
                    </ion-item>
                    <ion-item style="padding-top: 5px;">
                        <ion-label position="floating">
                            <div class="inner-label">
                                <ion-icon name="home" slot="end"></ion-icon>
                                Učilnica
                            </div>
                        </ion-label>
                        <ion-input type="text" formControlName="classroom" oninput="this.value = this.value.toUpperCase()" maxlength="7" size="7"></ion-input>
                    </ion-item>
                    <div>
                        <ion-item style="padding-top: 5px; padding-right: 8px; width: 50%; display: inline-block">
                            <ion-label position="floating">
                                <div class="inner-label">
                                    <ion-icon name="time" slot="end"></ion-icon>
                                    Začetna ura
                                </div>
                            </ion-label>
                            <ion-datetime doneText="Shrani" cancelText="Prekliči" formControlName="time" displayFormat="H:mm" min="07:00" max="21:00">
                            </ion-datetime>
                        </ion-item>
                        <ion-item style="padding-top: 5px; padding-left: 8px; width: 50%; display: inline-block">
                            <ion-label position="floating">
                                <div class="inner-label">
                                    <ion-icon name="hourglass" slot="end"></ion-icon>
                                    Trajanje (ure)
                                </div>
                            </ion-label>
                            <ion-input type="number" min="1" max="5" formControlName="duration" step="1" length="1">
                            </ion-input>
                        </ion-item>
                    </div>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
</form>
<ion-footer class="ion-padding" no-border>
    <ion-toolbar position="bottom">
        <ion-grid>
            <ion-row>
                <ion-col size-sm="6" offset-sm="3">
                    <ion-button type="button" color="primary" expand="block" (click)="onUpdateTimeSlot()" [disabled]="!form.valid">
                        Posodobi
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>