<ion-content>
    <ion-grid style="height:100%;" class="ion-no-padding outer-container">
        <ion-radio-group (ionChange)="clickedRadio($event, '0')">
            <div class="inner-container">
                <ion-row>
                    <ion-col size="12">
                        <p style="text-align:center;"><b>Kaj je bilo prikazano na oglasu?</b></p>
                    </ion-col>
                    <ion-col *ngFor="let answer of survey.q1.as">
                        <ion-radio [value]="answer"></ion-radio>
                        <p class="feedback-answer">{{ answer }}</p>
                    </ion-col>
                </ion-row>
            </div>
        </ion-radio-group>
        <ion-radio-group (ionChange)="clickedRadio($event, '1')">
            <div class="inner-container">
                <ion-row>
                    <ion-col size="12">
                        <p style="text-align:center;"><b>Katera znamka je zastopala oglas?</b></p>
                    </ion-col>
                    <ion-col *ngFor="let answer of survey.q2.as">
                        <ion-radio [value]="answer"></ion-radio>
                        <p class="feedback-answer">{{ answer }}</p>
                    </ion-col>
                </ion-row>
            </div>
        </ion-radio-group>
        <ion-radio-group (ionChange)="clickedRadio($event, '2')">
            <div class="inner-container">
                <ion-row>
                    <ion-col size="12">
                        <p style="text-align: center;"><b>Oglas je bil ustrezno prikazan.</b></p>
                    </ion-col>
                    <ion-col>
                        <ion-radio value="-2"></ion-radio>
                        <p class="feedback-answer">Sploh se ne strinjam</p>
                    </ion-col>
                    <ion-col>
                        <ion-radio value="-1"></ion-radio>
                        <p class="feedback-answer">Nestrinjam se</p>
                    </ion-col>
                    <ion-col>
                        <ion-radio value="0"></ion-radio>
                        <p class="feedback-answer">Neodločen/a</p>
                    </ion-col>
                    <ion-col>
                        <ion-radio value="1"></ion-radio>
                        <p class="feedback-answer">Strinjam se</p>
                    </ion-col>
                    <ion-col>
                        <ion-radio value="2"></ion-radio>
                        <p class="feedback-answer">Popolnoma se strinjam</p>
                    </ion-col>
                </ion-row>
            </div>
        </ion-radio-group>
        <ion-row style="display:flex;justify-content: center;">
            <ion-button color="primary" (click)="sendData()" [disabled]="selectedOne == null || selectedTwo == null || selectedThree == null">Pošlji</ion-button>
        </ion-row>
    </ion-grid>
</ion-content>