::ng-deep .feedback .modal-wrapper {
    height: 80vh;
    width: 98vw;
}

.feedback-answer {
    text-align: center; 
    margin: 0px; 
    font-size: calc(11px + (30 - 12) * ((100vw - 300px) / (1600 - 300)));
}

ion-radio {
    margin: auto;
}

ion-col {
    text-align: center;
}

.outer-container {
    display: table !important;
    table-layout: fixed !important;
    width: 100% !important;
    -moz-box-sizing: border-box !important;
    box-sizing: border-box !important;
}

ion-radio-group {
    display: table-row !important;
}

ion-radio-group .inner-container{
    display: table-cell !important;
    vertical-align: middle !important;
}