<form [formGroup]="form" class="ion-padding" style="overflow: auto">
    <div style="position:absolute; right:10px;">
        <ion-icon name="close" style="font-size: 24px;" (click)="closeModal()"></ion-icon>
    </div>
    <div style="text-align:center;">
        <img style="width:70%; margin-top: 10px; margin-left: auto; margin-right: auto;" src="assets/img/create-note.png" />
    </div>
    <ion-grid>
        <ion-row>
            <ion-col size-sm="6" offset-sm="3">
                <ion-list>
                    <ion-item style="padding-top: 10px;">
                        <ion-label position="floating">
                            <div class="inner-label">
                                <ion-icon name="clipboard" slot="end"></ion-icon>
                                Naslov zapiska
                            </div>
                        </ion-label>
                        <ion-input type="text" formControlName="title"></ion-input>
                    </ion-item>
                    <ion-item style="padding-top: 10px;">
                        <ion-label>
                            <div class="inner-label">
                                <ion-icon name="information-circle-outline" slot="end"></ion-icon>
                                Skupina
                            </div>
                        </ion-label>
                        <ion-select okText="Shrani" cancelText="Prekliči" formControlName="noteGroup">
                            <ion-select-option *ngFor="let note of notes; let i = index;" [value]="i">{{ note.name }}
                            </ion-select-option>
                        </ion-select>
                    </ion-item>
                    <ion-item style="padding-top: 10px;">
                        <ion-label position="floating">
                            <div class="inner-label">
                                <ion-icon name="book" slot="end"></ion-icon>
                                Opis
                            </div>
                        </ion-label>
                        <ion-textarea type="text" formControlName="description"></ion-textarea>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
        <ion-row>

        </ion-row>
    </ion-grid>
</form>
<ion-footer class="ion-padding" no-border>
    <ion-toolbar position="bottom">
        <ion-grid>
            <ion-row>
                <ion-col size-sm="6" offset-sm="3">
                    <ion-button type="button" color="primary" expand="block" (click)="onSelectFile()" [disabled]="!form.valid">
                        Naloži datoteko
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>