<form [formGroup]="form" class="ion-padding" style="overflow: auto">
    <div>
        <ion-icon name="close" style="float: right; font-size: 24px;" (click)="closeModal()"></ion-icon>
    </div>
    <ion-img style="width:70%; margin-left: auto; margin-right: auto;" src="assets/img/create-task.png">
    </ion-img>
    <ion-grid>
        <ion-row>
            <ion-col size-sm="6" offset-sm="3">
                <ion-list>
                    <ion-item style="padding-top: 10px;">
                        <ion-label position="floating">
                            <div class="inner-label">
                                <ion-icon name="clipboard" slot="end"></ion-icon>
                                Opravilo
                            </div>
                        </ion-label>
                        <ion-input type="text" formControlName="title"></ion-input>
                    </ion-item>
                    <ion-item style="padding-top: 10px;">
                        <ion-label>
                            <div class="inner-label">
                                <ion-icon name="information-circle-outline" slot="end"></ion-icon>
                                Pomembnost
                            </div>
                        </ion-label>
                        <ion-select value="#F25454" okText="Shrani" cancelText="Prekliči" formControlName="urgency">
                            <ion-select-option value="#F25454">Obvezno</ion-select-option>
                            <ion-select-option value="#FFCF68">Pomembno</ion-select-option>
                            <ion-select-option value="#AFE067">Nepomembno</ion-select-option>
                            <ion-select-option value="#4C8DFF">Opcijsko</ion-select-option>
                        </ion-select>
                    </ion-item>
                    <ion-item style="padding-top: 10px;">
                        <ion-label position="floating">
                            <div class="inner-label">
                                <ion-icon name="book" slot="end"></ion-icon>
                                Opis
                            </div>
                        </ion-label>
                        <ion-textarea type="text" formControlName="description"></ion-textarea>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
        <ion-row>

        </ion-row>
    </ion-grid>
</form>
<ion-footer class="ion-padding" no-border>
    <ion-toolbar position="bottom">
        <ion-grid>
            <ion-row>
                <ion-col size-sm="6" offset-sm="3">
                    <ion-button type="button" color="primary" expand="block" (click)="onCreateTask()" [disabled]="!form.valid">
                        Ustvari
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>