<ion-list>
    <ion-list-header><b>Opravilo</b></ion-list-header>
    <ion-item (click)="onEdit()" button detail>Uredi</ion-item>
    <ion-item (click)="onDelete()" button detail>Zbriši</ion-item>
</ion-list>