<form [formGroup]="form" class="ion-padding">
    <ion-grid>
        <ion-row>
            <ion-col size-sm="6" offset-sm="3">
                <ion-list>
                    <ion-item>
                        <ion-label position="floating">
                            <div class="inner-label">
                                <ion-icon name="person" slot="end"></ion-icon>
                                Uporabniško ime
                            </div>
                        </ion-label>
                        <ion-input type="text" formControlName="u"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">
                            <div class="inner-label">
                                <ion-icon name="lock" slot="end"></ion-icon>
                                Geslo
                            </div>
                        </ion-label>
                        <ion-input type="password" formControlName="p"></ion-input>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size-sm="6" offset-sm="3">
                <ion-button type="button" color="primary" expand="block" (click)="onLogin()" [disabled]="!form.valid">
                    Prijava
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</form>