<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/smartads/tabs/news"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="primary">
            <ion-button (click)="newTask()">
                <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Moja opravila</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-img *ngIf="taskMode === 'gotten' && myTasks.length === 0" src="assets/img/task-list.png" style="height: 100%;">
    </ion-img>
    <ion-card *ngFor="let task of myTasks" [style.borderLeft]="'5px solid #3880ff'">
        <ion-item-sliding>
            <ion-item-options side="start">
                <ion-item-option (click)="editTask(task, $event)">
                    Spremeni
                </ion-item-option>
            </ion-item-options>
            <ion-item button="true">
                <ion-card-header>
                    <ion-card-subtitle>{{ task.date | date: 'longDate' }}</ion-card-subtitle>
                    <ion-card-title>{{ task.title }}</ion-card-title>
                    <ion-badge [style.background]="task.urgency" style="margin-top: 10px;">
                        {{ onConvertColor(task.urgency) }}
                    </ion-badge>
                </ion-card-header>
                <ion-button color="primary" slot="end" (click)="editTask(task, $event)">
                    <ion-icon icon="create"></ion-icon>
                </ion-button>
            </ion-item>
        </ion-item-sliding>
        <ion-card-content>
            {{ task.description }}
        </ion-card-content>
    </ion-card>
</ion-content>