<ion-header>
    <ion-toolbar color="primary">
        <ion-title>{{ currentTitle }}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <app-register *ngIf="currentMode === 'register'" (tutorial)="onRecieveEvent($event)">
    </app-register>
    <app-login *ngIf="currentMode === 'login'"></app-login>
    <ion-slides pager="true" *ngIf="currentMode === 'tutorial'" style="height: 100%;">
        <ion-slide>
            <div style="text-align: center; margin-bottom: 15px;">
                <h3 style="padding: 8px; color: #737373; letter-spacing: 1.2px;"><b><i>Študentske Novice</i></b>
                </h3>
                <video src="assets/img/novice.mp4" style="margin:auto;" class="tutorial-picture" poster="assets/img/poster.png" autoplay loop muted></video>
                <p style="color: #737373; font-size: 14px; padding-left: 35px; padding-right: 35px; padding-top: 4px;">
                    <i>Bodite na tekočem z novicami, ki so pomembne za študente.</i>
                </p>
            </div>
        </ion-slide>
        <ion-slide>
            <div style="text-align: center; margin-bottom: 15px;">
                <h3 style="padding: 8px; color: #737373; letter-spacing: 1.2px;"><b><i>Študentski Boni</i></b>
                </h3>
                <div style="margin: auto;" class="tutorial-picture" [style.backgroundImage]="'url(assets/img/boni.gif)'">
                </div>
                <p style="color: #737373; font-size: 14px; padding-left: 35px; padding-right: 35px; padding-top: 4px;">
                    <i>Oglejte si bližnje študentske restavracije in podrobnosti, kot so cena obroka, cena doplačila,
                        ...</i>
                </p>
            </div>
        </ion-slide>
        <ion-slide>
            <div style="text-align: center; margin-bottom: 15px;">
                <h3 style="padding: 8px; color: #737373; letter-spacing: 1.2px;"><b><i>LPP in IJPP</i></b>
                </h3>
                <div style="margin: auto;" class="tutorial-picture" [style.backgroundImage]="'url(assets/img/prevoz.gif)'">
                </div>
                <p style="color: #737373; font-size: 14px; padding-left: 35px; padding-right: 35px; padding-top: 4px;">
                    <i>Hiter dostop do LPP in IJPP voznega reda z enim samim klikom.</i>
                </p>
            </div>
        </ion-slide>
        <ion-slide>
            <div style="text-align: center; margin-bottom: 15px;">
                <h3 style="padding: 8px; color: #737373; letter-spacing: 1.2px;"><b><i>Urnik</i></b>
                </h3>
                <div style="margin: auto;" class="tutorial-picture" [style.backgroundImage]="'url(assets/img/predmetnik.gif)'">
                </div>
                <p style="color: #737373; font-size: 14px; padding-left: 35px; padding-right: 35px; padding-top: 4px;">
                    <i>Ste naredili zamenjavo, vendar se vaš šolski urnik ni posodobil? Nadzirajte svoj urnik sami,
                        da ne zamudite pomembnih predavanj in vaj!</i>
                </p>
            </div>
        </ion-slide>
        <ion-slide>
            <div style="text-align: center; margin-bottom: 15px;">
                <h3 style="padding: 8px; color: #737373; letter-spacing: 1.2px;"><b><i>Opravila in pripomočki</i></b>
                </h3>
                <div style="margin: auto;" class="tutorial-picture" [style.backgroundImage]="'url(assets/img/pripomocki.gif)'">
                </div>
                <p style="color: #737373; font-size: 14px; padding-left: 35px; padding-right: 35px; padding-top: 4px;">
                    <i>Aplikacija vam tudi omogoča beleženje opravil in shranjevanje pripomočkov, ki jih pogosto
                        potrebujete!</i>
                </p>
            </div>
        </ion-slide>
        <ion-slide>
            <div style="text-align: center; margin-bottom: 15px;">
                <h3 style="padding: 8px; color: #737373; letter-spacing: 1.2px;"><b><i>Zbiranje podatkov</i></b>
                </h3>
                <div style="margin: auto;" class="tutorial-picture" [style.backgroundImage]="'url(assets/img/data-collecting.png)'">
                </div>
                <p style="color: #737373; font-size: 14px; padding-left: 35px; padding-right: 35px; padding-top: 4px;">
                    <i>Za potrebe diplomske naloge se zbirajo določeni podatki in prikazujejo nadležni oglasi, vendar v
                        zameno ...</i>
                </p>
            </div>
        </ion-slide>
        <ion-slide>
            <div style="text-align: center; margin-bottom: 15px;">
                <div style="margin: auto;" class="reward-picture" [style.backgroundImage]="'url(assets/img/reward.png)'">
                </div>
                <p style="color: #737373; font-size: 14px; padding-left: 35px; padding-right: 35px; padding-top: 4px;">
                    <i>... za zbiranje podatkov je vsak udeleženec vključen v končno nagradno igro! Pametna ura čaka
                        svojega novega lastnika. Verjetnost za zmago si povečate, če uporabljate aplikacijo ko sedite, hodite ali pa se vozite! </i>
                </p>
                <ion-button class="ion-padding" expand="block" (click)="onEndTutorial()">Začni</ion-button>
            </div>
        </ion-slide>
    </ion-slides>
    <ion-grid *ngIf="currentMode !== 'tutorial'">
        <ion-row>
            <ion-col>
                <ion-button color="primary" expand="block" fill="clear" (click)="onSwapAuth()" type="submit">
                    {{ currentMode === 'login' ? "Ustvarite svoj račun" : "Že imate račun?" }}</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>