.tutorial-picture {
    display: block;
    height: 90vw;
    width: 90vw;
    max-width: 400px;
    max-height: 400px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 7px;
}

.reward-picture {
    display: block;
    height: 70vw;
    width: 70vw;
    max-width: 350px;
    max-height: 350px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

p,
h3 {
    font-family: 'Poppins', sans-serif;
}

ion-content {
    --overflow: hidden;
}