<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/smartads/tabs/news"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="primary">
            <ion-button (click)="newTimeSlot()">
                <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Urnik</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <main id="calendar">
        <section class="th" style="margin-bottom: 5px;">
            <span><b>Ura</b></span>
            <span><b>Pon</b></span>
            <span><b>Tor</b></span>
            <span><b>Sre</b></span>
            <span><b>Čet</b></span>
            <span><b>Pet</b></span>
        </section>
        <div class="week" *ngFor="let hour of hours; let i = index">
            <div>
                <div class="border" style="font-size: 12px;">{{ hour }}</div>
            </div>
            <div (click)="onEditEvent(eventsPon, i, $event, 'Pon')">
                <div [class]="checkForBorder(eventsPon, i)" [attr.data-date]="checkPreviousEvent(eventsPon, i)" [style.backgroundColor]="checkPreviousEventForColor(eventsPon, i)">
                    <span *ngIf="checkPreviousEvent(eventsPon, i)" style="position: absolute; font-size: 8px; color: #ffffff; top: 15px; right: 5px; text-shadow: 1px 1px rgba(133, 133, 133, 0.7);">{{ eventsPon[i].p }}</span>
                </div>
            </div>
            <div (click)="onEditEvent(eventsTor, i, $event, 'Tor')">
                <div [class]="checkForBorder(eventsTor, i)" [attr.data-date]="checkPreviousEvent(eventsTor, i)" [style.backgroundColor]="checkPreviousEventForColor(eventsTor, i)">
                    <span *ngIf="checkPreviousEvent(eventsTor, i)" style="position: absolute; font-size: 8px; color: #ffffff; top: 15px; right: 5px; text-shadow: 1px 1px rgba(133, 133, 133, 0.7);">{{ eventsTor[i].p }}</span>
                </div>
            </div>
            <div (click)="onEditEvent(eventsSre, i, $event, 'Sre')">
                <div [class]="checkForBorder(eventsSre, i)" [attr.data-date]="checkPreviousEvent(eventsSre, i)" [style.backgroundColor]="checkPreviousEventForColor(eventsSre, i)">
                    <span *ngIf="checkPreviousEvent(eventsSre, i)" style="position: absolute; font-size: 8px; color: #ffffff; top: 15px; right: 5px; text-shadow: 1px 1px rgba(133, 133, 133, 0.7);">{{ eventsSre[i].p }}</span>
                </div>
            </div>
            <div (click)="onEditEvent(eventsCet, i, $event, 'Cet')">
                <div [class]="checkForBorder(eventsCet, i)" [attr.data-date]="checkPreviousEvent(eventsCet, i)" [style.backgroundColor]="checkPreviousEventForColor(eventsCet, i)">
                    <span *ngIf="checkPreviousEvent(eventsCet, i)" style="position: absolute; font-size: 8px; color: #ffffff; top: 15px; right: 5px; text-shadow: 1px 1px rgba(133, 133, 133, 0.7);">{{ eventsCet[i].p }}</span>
                </div>
            </div>
            <div (click)="onEditEvent(eventsPet, i, $event, 'Pet')">
                <div [class]="checkForBorder(eventsPet, i)" [attr.data-date]="checkPreviousEvent(eventsPet, i)" [style.backgroundColor]="checkPreviousEventForColor(eventsPet, i)">
                    <span *ngIf="checkPreviousEvent(eventsPet, i)" style="position: absolute; font-size: 8px; color: #ffffff; top: 15px; right: 5px; text-shadow: 1px 1px rgba(133, 133, 133, 0.7);">{{ eventsPet[i].p }}</span>
                </div>
            </div>
        </div>
    </main>
</ion-content>