/* Basic Reset + 100% Height */

ion-content {
    margin: 0;
    padding: 0;
    border: 0;
    height: 100%
}

ion-content {
    font: 0.8em/1.5em 'Arial', sans-serif;
}


/* Calendar 100% height */

#calendar {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    align-items: stretch;
}


/* Above only works if child weeks aren't displayed as flex... */


/* Uncomment to see what I mean */

.th {
    flex: 30px 0 0;
}

.border {
    border-bottom: 1px solid rgba(153, 153, 153, 0.3);
    border-right: 1px solid rgba(153, 153, 153, 0.1);
}

.no-border {
    border-bottom: none;
}


/* Calendar rows */

.th,
.week {
    display: flex;
}

.th>span {
    border-bottom: 4px solid rgba(56, 128, 255, 0.3);
    padding: 5px 2px 2px 0;
    text-align: right;
}

.week>div>div {
    //border-top: 1px solid #eee;
    padding: 10px 2px 2px;
    min-height: 50px;
    position: relative;
    /* allow ::after psuedo element absolute positioning */
}

.th>span,
.week>div {
    width: 100%;
    //margin-right: 5px;
    color: #333;
    text-align: center;
}


/* Dates */

.week>div>div::after {
    content: attr(data-date);
    display: block;
    position: absolute;
    top: 5px;
    right: 5px;
    color: #ffffff;
    text-shadow: 1px 1px rgba(133, 133, 133, 0.7);
    font-weight: 700;
    font-size: 10px;
}


/* Weekends */

#calendar>div:nth-of-type(2n) {
    background: rgba(56, 128, 255, 0.02)
}


/*.th>span:nth-child(1),
.th>span:nth-child(3),
.th>span:nth-child(5),
.week>div:nth-child(1),
.week>div:nth-child(3),
.week>div:nth-child(5) {
    background: rgba(243, 243, 243, 0.15)
}*/

.th>span:last-child,
.week>div>div:last-child {
    margin-right: 0
}