<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button menu="smartads-main-menu"></ion-menu-button>
        </ion-buttons>
        <ion-title>Bus</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <ion-grid>
        <ion-row>
            <ion-col style="text-align: center;" size="12">
                <mat-form-field class="fullWidth">
                    <mat-label>
                        <div class="inner-label">
                            <ion-icon name="swap" slot="end"></ion-icon>
                            Smer avtobusa
                        </div>
                    </mat-label>
                    <mat-select (selectionChange)="onSelectionChange()" [value]="selectedOption">
                        <mat-option value="fromCenter">
                            <ion-icon name="arrow-round-back"></ion-icon>
                            Iz Centra
                        </mat-option>
                        <mat-option value="toCenter">
                            <ion-icon name="arrow-round-forward"></ion-icon>
                            V Center
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <form class="busSearchForm">
                    <mat-form-field class="fullWidth">
                        <mat-label>
                            <div class="inner-label">
                                <ion-icon name="pin" slot="end"></ion-icon>
                                Izberite postajo
                            </div>
                        </mat-label>
                        <input id="busSearchField" #busSearch type="text" aria-label="Number" matInput [formControl]="stationSearchControl" [matAutocomplete]="auto">
                        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                            <mat-option *ngFor="let option of filteredOptions | async" [value]="option" (onSelectionChange)="getBusData($event, option)">
                                {{ option }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </form>
            </ion-col>
            <ion-col size="12">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="dataSource.length !== 0">
                    <ng-container matColumnDef="linija">
                        <td mat-cell *matCellDef="let element" class="fSize-10"> {{ element.linija }} </td>
                    </ng-container>
                    <ng-container matColumnDef="ime">
                        <td mat-cell *matCellDef="let element" class="fSize-10"> {{element.ime}} </td>
                    </ng-container>
                    <ng-container matColumnDef="prihodi">
                        <td mat-cell *matCellDef="let element" class="fSize-10"> {{element.prihodi}} </td>
                    </ng-container>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <h5 *ngIf="dataSource.length === 0" style="text-align:center;color:gray">Ni podatkov za trenutno postajo</h5>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>