.busSearchForm {
    min-width: 150px;
    width: 100%;
}

.fullWidth {
    width: 100%;
}

table {
    width: 100%;
}

.mat-col-linija {
    word-wrap: break-word !important;
    white-space: unset !important;
    width: 10px !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
}

.fSize-10 {
    font-size: 10px;
}

mat-cell,
.mat-cell {
    min-height: auto;
    padding: 12px 16px 12px 0;
}

.inner-label {
    display: flex;
}

.inner-label>ion-icon {
    padding-right: 5px;
}