.inner-label {
    display: flex;
}

.inner-label>ion-icon {
    padding-right: 5px;
}

ion-img {
    margin: auto;
    width: 80vw;
}

img {
    margin: auto;
}

ion-content {
    --overflow: hidden;
}