<ion-header>
    <ion-toolbar color="primary">
        <ion-title>Izbor lokacije</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-img class="ion-padding" src="assets/img/location.png"></ion-img>
    <form [formGroup]="form" class="ion-padding">
        <ion-grid>
            <ion-row>
                <ion-col size-sm="6" offset-sm="3">
                    <ion-list>
                        <ion-item>
                            <ion-label position="floating">
                                <div class="inner-label">
                                    <ion-icon name="home" slot="end"></ion-icon>
                                    Ulica bivanja
                                </div>
                            </ion-label>
                            <ion-input id="home" type="text" formControlName="b"></ion-input>
                        </ion-item>
                        <ion-item>
                            <ion-label position="floating">
                                <div class="inner-label">
                                    <ion-icon name="briefcase" slot="end"></ion-icon>
                                    Ulica delovnega mesta
                                </div>
                            </ion-label>
                            <ion-input id="work" type="text" formControlName="d" placeholder="Večna pot 113, Ljubljana, Slovenija"></ion-input>
                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col size-sm="6" offset-sm="3">
                    <ion-button type="button" color="primary" expand="block" (click)="onRegister()" [disabled]="!form.valid">
                        Registracija
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>
