<form [formGroup]="form" class="ion-padding">
    <ion-grid>
        <ion-row>
            <ion-col size-sm="6" offset-sm="3">
                <ion-list>
                    <ion-item>
                        <ion-label position="floating">
                            <div class="inner-label">
                                <ion-icon name="person" slot="end"></ion-icon>
                                Uporabniško ime
                            </div>
                        </ion-label>
                        <ion-input type="text" formControlName="u"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">
                            <div class="inner-label">
                                <ion-icon name="lock" slot="end"></ion-icon>
                                Geslo
                            </div>
                        </ion-label>
                        <ion-input type="password" formControlName="p"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">
                            <div class="inner-label">
                                <ion-icon name="lock" slot="end"></ion-icon>
                                Ponovi geslo
                            </div>
                        </ion-label>
                        <ion-input type="password" formControlName="rP"></ion-input>
                    </ion-item>
                    <ion-item>
                        <ion-label position="floating">
                            <div class="inner-label">
                                <ion-icon name="calendar" slot="end"></ion-icon>
                                Rojstni datum
                            </div>
                        </ion-label>
                        <ion-datetime doneText="Shrani" cancelText="Prekliči" formControlName="b" displayFormat="DD MMM YYYY"></ion-datetime>
                    </ion-item>
                    <ion-item>
                        <ion-label>
                            <div class="inner-label">
                                <ion-icon name="male" slot="end"></ion-icon>
                                Spol
                            </div>
                        </ion-label>
                        <ion-select okText="Shrani" cancelText="Prekliči" formControlName="g">
                            <ion-select-option value="m">Moški</ion-select-option>
                            <ion-select-option value="f">Ženski</ion-select-option>
                            <ion-select-option value="o">Ostalo</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col size-sm="6" offset-sm="3">
                <ion-button type="button" color="primary" expand="block" (click)="onRegister()" [disabled]="!form.valid">
                    Naprej
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</form>