<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/smartads/tabs/news"></ion-back-button>
        </ion-buttons>
        <ion-title>Vlak</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <img *ngIf="isLoaded" src="assets/img/train.png" />
    <ion-grid style="margin-top: 5px;" class="ion-padding">
        <ion-row>
            <ion-col style="text-align: center;" size="12">
                <form class="trainSearchForm">
                    <mat-form-field class="fullWidth">
                        <mat-label>
                            <div class="inner-label">
                                <ion-icon name="walk" slot="end"></ion-icon>
                                Vstopna postaja
                            </div>
                        </mat-label>
                        <input #trainStationIn type="text" aria-label="Number" matInput [formControl]="trainSearchInControl" [matAutocomplete]="trainsIn">
                        <mat-autocomplete autoActiveFirstOption #trainsIn="matAutocomplete">
                            <mat-option *ngFor="let option of filteredOptionsIn | async" [value]="option" (onSelectionChange)="changeSelectedOption(option, 'in')">
                                {{ option }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </form>
            </ion-col>
            <ion-col style="text-align: center;" size="12">
                <form class="trainSearchForm">
                    <mat-form-field class="fullWidth">
                        <mat-label>
                            <div class="inner-label">
                                <ion-icon name="man" slot="end"></ion-icon>
                                Izstopna postaja
                            </div>
                        </mat-label>
                        <input #trainStationOut type="text" aria-label="Number" matInput [formControl]="trainSearchOutControl" [matAutocomplete]="trainsOut">
                        <mat-autocomplete autoActiveFirstOption #trainsOut="matAutocomplete">
                            <mat-option *ngFor="let option of filteredOptionsOut | async" [value]="option" (onSelectionChange)="changeSelectedOption(option, 'out')">
                                {{ option }}
                            </mat-option>
                        </mat-autocomplete>
                    </mat-form-field>
                </form>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>

<ion-footer no-border>
    <ion-toolbar position="bottom">
        <ion-grid>
            <ion-row>
                <ion-col size-sm="6" offset-sm="3">
                    <ion-button type="button" color="primary" expand="block" (click)="getTrainData()" [disabled]="stationIdIn.length === 0 || stationIdOut.length === 0">
                        Išči
                    </ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </ion-toolbar>
</ion-footer>