<ion-list>
    <ion-list-header><b>Moji zapiski</b></ion-list-header>
    <ion-item (click)="selectedOption('note')" button detail>Dodaj novo skupino</ion-item>
    <ion-item (click)="selectedOption('courseNote')" button detail>Dodaj nov zapisek</ion-item>
</ion-list>