<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button menu="smartads-main-menu"></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="primary">
            <ion-button (click)="changeRssFeed($event)">
                <ion-icon slot="icon-only" name="bookmarks"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Novice</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-refresher *ngIf="news.length !== 0" slot="fixed" (ionRefresh)="getNews($event, currentRssFeed)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
    <ng-container *ngIf="news.length !== 0">
        <ion-card class="news" *ngFor="let article of news" [innerHTML]="article.description">
        </ion-card>
    </ng-container>
    <ng-container *ngIf="news.length === 0">
        <ion-img src="assets/img/loading.gif" style="height: 100%;"></ion-img>
    </ng-container>
</ion-content>