<div style="background-color: rgba(0,0,0,1); height: 100%; width: 100%;">
    <pinch-zoom style="position:absolute; top:50%; transform:translateY(-50%)">
        <img [src]="image" style="margin:auto;" style="width:100%; height:100%;" />
    </pinch-zoom>
</div>