<ion-tabs>
    <ion-tab-bar color="primary" slot="bottom">
        <ion-tab-button tab="news">
            <ion-label>Novice</ion-label>
            <ion-icon name="home"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="lpp">
            <ion-label>Trola</ion-label>
            <ion-icon name="bus"></ion-icon>
        </ion-tab-button>
        <ion-tab-button tab="restaurant">
            <ion-label>Boni</ion-label>
            <ion-icon name="restaurant"></ion-icon>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>