<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/smartads/tabs/news"></ion-back-button>
        </ion-buttons>
        <ion-buttons slot="primary">
            <ion-button (click)="openPopover()">
                <ion-icon slot="icon-only" name="add"></ion-icon>
            </ion-button>
        </ion-buttons>
        <ion-title>Zapiski</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-img *ngIf="notes.length === 0" src="assets/img/zapiski.png" style="height:100%; width: 75%; margin: auto;"></ion-img>
    <mat-accordion *ngIf="notes.length !== 0">
        <mat-expansion-panel *ngFor="let note of notes; let i = index;">
            <mat-expansion-panel-header>
                <mat-panel-title>
                    <ion-checkbox [@enter] *ngIf="currentMode == 'delete'" (click)="$event.stopPropagation();" slot="start" (ionChange)="queueNoteForDelete($event, i)" style="margin-right: 20px;" [checked]="note.deleteQueue">
                    </ion-checkbox>
                    <b>{{ note.name }}</b>
                </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="notes" style="border-top: 1px solid rgba(0, 0, 0, 0.1);">
                <ion-list>
                    <ion-item button="true" class="ion-no-padding" *ngFor="let courseNote of note.courseNotes; let j = index;">
                        <ion-checkbox [@enter] *ngIf="currentMode == 'delete'" slot="start" (ionChange)="queueCourseNoteForDelete($event, i, j)" [checked]="courseNote.deleteQueue">
                        </ion-checkbox>
                        <ion-avatar slot="start" (click)="openFile(courseNote)">
                            <img [src]="courseNote.src">
                        </ion-avatar>
                        <ion-label>
                            <p>{{ courseNote.date | date: 'longDate' }}</p>
                            <h2>{{ courseNote.title }}</h2>
                            <p>{{ courseNote.description }}</p>
                        </ion-label>
                        <ion-button slot="end" fill="clear" (click)="shareFile(courseNote)">
                            <ion-icon slot="icon-only" name="share"></ion-icon>
                        </ion-button>
                    </ion-item>
                </ion-list>
            </div>
        </mat-expansion-panel>
    </mat-accordion>
    <ion-fab horizontal="end" vertical="bottom" slot="fixed">
        <ion-fab-button color="primary" (click)="selectOrFinishMode($event)">
            <ion-icon [name]="currentModeIcon"></ion-icon>
        </ion-fab-button>
        <ion-fab-list side="top">
            <ion-fab-button color="light" (click)="deleteMode()">
                <ion-icon name="trash"></ion-icon>
            </ion-fab-button>
        </ion-fab-list>
    </ion-fab>
</ion-content>