<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button menu="smartads-main-menu"></ion-menu-button>
        </ion-buttons>
        <ion-title>Boni</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div #googleMap id="googleMap"></div>
</ion-content>