<ion-app>
    <ion-menu side="start" menuId="smartads-main-menu" (ionDidClose)="currentMode(false)" (ionDidOpen)="currentMode(true)">
        <ion-header>
            <ion-toolbar color="primary">
                <ion-title>Studentko - Meni</ion-title>
            </ion-toolbar>
        </ion-header>
        <ion-content>
            <ion-list>
                <ion-menu-toggle menu="smartads-main-menu">
                    <ion-item lines="none" routerLink="/smartads/timetable">
                        <ion-icon name="calendar" slot="start"></ion-icon>
                        <ion-label>Urnik</ion-label>
                    </ion-item>
                    <!-- <ion-item lines="none" routerLink="/smartads/profile">
                        <ion-icon name="albums" slot="start"></ion-icon>
                        <ion-label>DEBUG</ion-label>
                    </ion-item> -->
                    <ion-item lines="none" routerLink="/smartads/task">
                        <ion-icon name="albums" slot="start"></ion-icon>
                        <ion-label>Opravila</ion-label>
                    </ion-item>
                    <ion-item lines="none" routerLink="/smartads/train">
                        <ion-icon name="train" slot="start"></ion-icon>
                        <ion-label>Vlaki</ion-label>
                    </ion-item>
                    <ion-item lines="none" routerLink="/smartads/tools">
                        <ion-icon name="calculator" slot="start"></ion-icon>
                        <ion-label>Pripomočki</ion-label>
                    </ion-item>
                    <ion-item lines="none" routerLink="/smartads/notes">
                        <ion-icon name="paper" slot="start"></ion-icon>
                        <ion-label>Zapiski</ion-label>
                    </ion-item>
                    <ion-item lines="none" (click)="onLogout()" button>
                        <ion-icon name="exit" slot="start"></ion-icon>
                        <ion-label>Odjava</ion-label>
                    </ion-item>
                </ion-menu-toggle>
            </ion-list>
        </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
</ion-app>