<ion-content *ngIf="currentMode === 'video'" fullscreen="true">
    <div style="position:absolute;top:10px;left:10px;z-index:9001;" (click)="onChangeSound()">
        <ion-button size="small" color="dark">
            <ion-icon slot="icon-only" [name]="soundIcon"></ion-icon>
        </ion-button>
    </div>
    <div style="position:absolute;top:10px;right:10px;z-index:9001;">
        <ion-badge color="dark" style="display:flex;"><b style="margin:auto;padding-right:6px;">Še {{ videoTimeLeft === null ? "Nekaj" : videoTimeLeft }} sek</b>
            <div style="display:flex;" (click)="forceClose()">
                <ion-icon style="font-size:20px;" slot="icon-only" name="close"></ion-icon>
            </div>    
        </ion-badge>
    </div>
    <div class="flex-content" style="background-color: rgba(0,0,0,1);">
        <video id="video-ad" style="width:auto;height:100%;margin:auto;" [src]="currentVideoUrl" autoplay poster="assets/img/black.jpg"></video>
    </div>
</ion-content>

<ion-content *ngIf="currentMode === 'image'" fullscreen="true">
    <div class="flex-content">
        <div style="position:absolute;top:10px;right:10px;z-index:9001;">
            <ion-badge color="dark" style="display:flex;">
                <div style="display:flex;" (click)="forceClose()">
                    <ion-icon style="font-size:20px;" slot="icon-only" name="close"></ion-icon>
                </div>    
            </ion-badge>
        </div>
        <img id="photo-fullscreen" [src]="currentImageUrl">
    </div>
</ion-content>

<ion-content *ngIf="currentMode == null" fullscreen="true">
    <div style="width:100%;height:100%;background-color: rgba(0,0,0,1);"></div>
</ion-content>