<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-back-button defaultHref="/smartads/tabs/news"></ion-back-button>
        </ion-buttons>
        <ion-title>Nastavitve</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
</ion-content>